@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
body{
    font-family: 'Lexend Deca', sans-serif;
}

.fixed-block{
    display:block;
    position:fixed;
    width:100px;
    height:100px;
}


@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    2% {
        transform: scale(0.96) translateY(20px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
      }


    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    border-radius: 2%;
  }

  @media only screen and (max-width: 600px) {
    .popup-content {
      -webkit-animation: none;
      width:94%;
    }
  }
  
